body{
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: #7000FF;
    animation: color_change 18s infinite;
}

@keyframes color_change {
    0% {background-color: red;}
    25% {background-color: orange;}
    50% {background-color: yellow;}
    75% {background-color: blue;}
    100% {background-color: red;}
    }

p{
    color: #FFFFFF;
    font-family: 'Five Years Later Demo';
    font-weight: 400;
}

.cursor{
    width: 200px;
    height: 200px;
    background-image: url(../img/kyrsor.png); 
}

.container1{
    position: relative;
    display: flex;
    justify-content:center;
    align-items:center;
    height: 125px;
    width: 100vw;
    font-size: 40px;
    text-align: center;
}

.container2{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items:center;
    align-content:center;
    width: 100vw;
    height: 500px;
    }

.zagolovok{
    position: relative;
    width: 811px;
    height: 305px;
    font-size: 60px;
}

.cat{
    position: relative;
    width: 614px;
    height: 679px;
}

.container3{
    position: relative;
    display: flex;
    justify-content: start;
    align-items:center;
    align-content:center;
    width: 100vw;
    height: 800px;
}



    /*анимация надписи*/

.com1{
    position: relative;
    height: 90px;
    font-size: 100px;
    line-height: 101px;
    animation: com 0.1s infinite;
}

@keyframes com {
    0%{  rotate: 0deg;}
    30%{ rotate: 3deg;}
    60%{ rotate: -1deg;}
    100%{ rotate: 1deg;}
}


.container4{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items:center;
    align-content:center;
    width: 100vw;
    height: 755px;
}

/*анимация чимса*/

#dogs{
    width: 800px;
    height: 755px;
    background-image: url(../img/small_dog.png);
    position: relative;
    right: 0%;
}

#dogs:hover{
    background-image: url(../img/big_dog.png); 
}


.container5{
    position: relative;
    display: flex;
    justify-content: start;
    flex-flow: row nowrap;
    align-items:center;
    align-content:center;
    width: 100vw;
    height: 800px;
}

/*анимация кротовухи*/

.kroto{
    animation: kro 15s infinite;
}

@keyframes kro{
    0% { right: - 1913px;}
    100% { right: 100%;}
}

.kroto1{
  
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition:         transform .8s ease-in-out;
}
 
.kroto1:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

.kroto2{
 
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition:         transform .8s ease-in-out;
}
 
.kroto2:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

.kroto3{
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition:         transform .8s ease-in-out;
}
 
.kroto3:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}
